<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título que será exibido na janela -->
    <title>ASSIS TI</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!--Impedir a exercução de scripts-externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container button">
        <img src="../public/img/clientes.png" alt="clientes" title="Cadastro de clientes">
        <img src="../public/img/os.png" alt="computador" title="Emissão de OS">
    </div>
    <footer>
        <p id="dataAtual"></p>
    
    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>