<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!--Impedir a exercução de scripts-externos ou não autorizados-->
    <meta http-equiv="Content-Security-Policy"
    content="script-src 'self'">
</head>
<body>
    <div class="container">
     <h1>ASSIS TI</h1>
     <p> Sistema para emissão de OS</p>
     <p>Autor: Eder Silva</p>
     <p>Sob a licença MIT</p>
    </div>
    
    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>